@import './_mq.scss';
$mq-responsive: true;
$mq-breakpoints: (
        mobile:  320px,
        mobileLandscape: 480px,
        tablet:  768px,
        desktop: 980px,
        wide:    1300px,
        desktopAd: 810px
);
$mq-static-breakpoint: desktop;
$mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, wide);

#player{
  @include mq($until: mobile) {
    width:100%;
  }
  @include mq($from: mobile,$until: mobileLandscape) {
    width:100%;
  }
  @include mq($from: mobileLandscape,$until: tablet) {
    width:100%;
  }
  @include mq($from: tablet,$until: desktop) {
    width:45%;
  }
  @include mq($from: desktop) {
    width:35%;
  }
}

#playlist{
  @include mq($until: mobile) {
    position:absolute;
    top:0;
    left:0;
    right:0;
    visibility:hidden;
    width:100%;
    z-index:100;
  }
  @include mq($from: mobile,$until: mobileLandscape) {
    position:absolute;
    top:0;
    left:0;
    right:0;
    visibility:hidden;
    width:100%;
    z-index:100;
  }
  @include mq($from: mobileLandscape,$until: tablet) {
    position:absolute;
    top:0;
    left:0;
    right:0;
    width:100%;
    visibility:hidden;
    z-index:100;
  }
  @include mq($from: tablet,$until: desktop) {
    width:55%;
    display:block!important;
  }
  @include mq($from: desktop) {
    width:65%;
    display:block!important;
  }
}

.songitem{
  @include mq($until: mobile) {
    margin:0;
  }
  @include mq($from: mobile,$until: mobileLandscape) {
    margin:0;
  }
  @include mq($from: mobileLandscape,$until: tablet) {
    margin:0;
  }
  @include mq($from: tablet,$until: desktop) {
    margin:1rem;
  }
  @include mq($from: desktop) {
    margin:1rem;
  }
}

.search{
  @include mq($until: mobile) {
    width:50%;
  }
  @include mq($from: mobile,$until: mobileLandscape) {
    width:50%;
  }
  @include mq($from: mobileLandscape,$until: tablet) {
    width:30%;
  }
  @include mq($from: tablet,$until: desktop) {
    width:30%;
  }
  @include mq($from: desktop) {
    width:20%;
  }
}

.list{
  @include mq($until: mobile) {
    display:block;
  }
  @include mq($from: mobile,$until: mobileLandscape) {
    display:block;
  }
  @include mq($from: mobileLandscape,$until: tablet) {
    display:block;
  }
  @include mq($from: tablet,$until: desktop) {
    display:none;
  }
  @include mq($from: desktop) {
    display:none;
  }
}

.backtoplayer{
  @include mq($until: mobile) {
    display:inline-block;
  }
  @include mq($from: mobile,$until: mobileLandscape) {
    display:inline-block;
  }
  @include mq($from: mobileLandscape,$until: tablet) {
    display:inline-block;
  }
  @include mq($from: tablet,$until: desktop) {
    display:none;
  }
  @include mq($from: desktop) {
    display:none;
  }
}